{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "assert": true,
    "expect": true,
    "sinon": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": ["warn", { "allow": ["assert"] }],
    "react/prop-types": ["error", { "skipUndeclared": true }] 
  }
}
